# Narrative Analytics and Experimentation

[Bank Marketing Dataset](http://archive.ics.uci.edu/ml/datasets/Bank+Marketing)

The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed. 


Is gender relevant?<br>
Are social status and stability relevant?<br>
Is client-bank relationship relevant?<br>
Are bank profiling indicators relevant?<br>
Are social and economic indicators relevant?<br>

In [24]:
# import modules

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from scipy import stats
import re

In [48]:
# load the dataset

df = pd.read_csv('~/src/data/u1CapstoneData/bank-additional.csv', sep = ';')
df.info()
df.tail()
#df.to_csv('~/src/data/u1CapstoneData/bank-additional-sortedmle.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
age               4119 non-null int64
job               4119 non-null object
marital           4119 non-null object
education         4119 non-null object
default           4119 non-null object
housing           4119 non-null object
loan              4119 non-null object
contact           4119 non-null object
month             4119 non-null object
day_of_week       4119 non-null object
duration          4119 non-null int64
campaign          4119 non-null int64
pdays             4119 non-null int64
previous          4119 non-null int64
poutcome          4119 non-null object
emp.var.rate      4119 non-null float64
cons.price.idx    4119 non-null float64
cons.conf.idx     4119 non-null float64
euribor3m         4119 non-null float64
nr.employed       4119 non-null float64
y                 4119 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1,no
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,...,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1,no
4116,27,student,single,high.school,no,no,no,cellular,may,mon,...,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1,no
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1,no
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8,no

In [56]:
print('Clients who subscribed to a term deposit:', len(df[df.y == 'yes']))
print('Did not subscribe to a term deposit:', len(df[df.y == 'no']))
print('Success Rate (%):', len(df[df.y == 'yes'])/len(df[df.y == 'no']))

Clients who subscribed to a term deposit: 451
Did not subscribe to a term deposit: 3668
Success Rate (%): 0.12295528898582334

In [58]:
df['euribor3m'].mean()

3.621355668851663